body
{
background: #B8AA9F;
margin: 0px;
padding: 0px;
font-family: tahoma;
font-size: 12 px;
line-height: 150%; 
color: black;
}
.odstep 
{
width: 1000px;
height: 12px;
margin-left: auto;
margin-right: auto;
background: #B8AA9F;
}
.kontener 
{
width: 1000px;
height: 100%;
margin-left: auto;
margin-right: auto;
background: #E0E0E0;
}
.main 
{
width: 1000px;
height: 100%;
min-height: 420px;
background: #511111;
float: left;
margin-left: auto;
margin-right: auto;
}
.stopka 
{
width: 1000px;
height: 12px;
background: #511111;
margin-left: auto;
margin-right: auto;
}
.main2
{
width: 784px;
height: 100%;
min-height: 500px;
margin: 0px 0px 0px 167px;
background: #E0E0E0;
padding: 20px;
color: #000000;
}
.main3
{
width: 100%;
height: 100%;
margin: -60px 0px 0px -20px;
padding: 20px;
color: #000000;
}
.menu 
{
width: 167px;
height: 100%;
left: 0px;
background: #511111;
float: left;
margin-left: auto;
margin-right: auto;
}
img
{
border: 0px;
}
.baner
{
width: 1000px;
height: 145px;
background: url(index3.gif) no-repeat;
float: left;
}
a.baner_link
	{
	width: 1000px;
	height: 145px;
	background-color: transparent;
	float: left;
	position: relative;
	
	top: 0px;
	}
table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
	text-align: center;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}
